*{
  padding: 0;
  margin: 0;
}
.none {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background: #eeeeee;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  width: 760px;
  box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5)
}
.section{
  height: 349px;
  padding: 17px 17px;
  background: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
  min-height: 34px;
  border-bottom: 1px solid #ededed;
}
.header-info{
  display: flex;
}
.header-info__h4, .header-info__interlocutor{
  font-size: 17px;
  font-weight: bold;
  color: #464646;
  margin: 0;
}
.header-info__interlocutor{
  color: #1463d9;
  cursor: pointer;
  text-decoration: none;
  margin-left: 7px;
}
.header-info__interlocutor:hover{
  text-decoration: underline;
}
.header-capabilities{
  position: relative;
}
.header-capabilities__open{
  position: relative;
  bottom: 10px;
  cursor: pointer;
  color: #949090;
  font-size: 26px;
  font-weight: bold;
}
.header-capabilities__window{
  position: absolute;
  top: 30px;
  right: -7px;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0px 3px 10px 0 rgba(174,174,174,0.5);
  z-index: 1;
}
.header-capabilities__window__link{
  display: block;
  margin: 0;
  padding: 9px 17px;
  color: #464646;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
.header-capabilities__window__link:hover{
  color: #fff;
  background: #5677fc;
}
.messages{
  overflow: auto;
  height: 330px;
}
.messages__no-messages{
  margin: 16px 0;
}
.message{
  display: flex;
  word-wrap: break-word;
  margin: 20px 0;
}
.form-add{
  display: flex;
  background: #eeeeee;
  padding: 17px;
  border-top: 1px solid #d8d8d8;
}
.form-add__text{
  display: block;
  max-height: 19px;
  border: 1px solid #d8d8d8;
  color: #34495e;
  font-size: 15px;
  padding: 8px 10px;
  margin: 0;

  width: 100%;
  background-color: #fff;
}
.form-add__btn{
  background-color: #5677fc;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  height: 36px;
  line-height: 36px;
  padding: 0 13px;
  margin-left: 15px;
  border: 0;
}
.form-add__btn:hover, .form-add__btn:disabled{
  background-color: #738efa;
}
.avatar a{
  cursor: pointer;
}
.avatar__img{
  display: block;
  width: 36px;
  height: 36px;
}
.info {
  width: 90%;
  margin-left: 20px;
}
.info__author{
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
}
.info__author:hover{
  text-decoration: underline;
}
.font-message{
  word-break: break-word;
  font-size: 15px;
}
.info__author, .info__message{
  margin: 0;
}
